// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.overflowY {
    height: 85%;
    overflow-y: scroll;
}

.overflowX {
    height: 95%;
    overflow-x: scroll;
}

// Table ===
table {
  width: 98%;
  margin: 10px;
  // border-collapse: collapse; 
  border: 2px solid rgb(183, 184, 185);
}

/* Zebra striping */
tr:nth-of-type(even) {
  background: rgb(247, 247, 247);
  border: 1px solid rgb(255, 255, 255);
}

tr:nth-of-type(odd) {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

th {
  background: rgb(235, 240, 248);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(128, 125, 125);
  font-weight: normal;
}

td {
  padding: 6px;
  text-align: left;
}

.button {
    text-transform: none;
  }
  
.selectedMenuItem {
  color: #3576e7;
  font-weight: 800 !important;
}
.menuHeader {
    font-size: 26px;
    color: var(--ion-color-light);
    --ion-background-color: linear-gradient(135deg, rgb(144, 179, 231), rgb(12, 96, 221)) !important;
  }

ion-segment-button {
  border: 1px solid #a6a9ac;
  border-radius: 4px;
  background-color: #ffffff;
}


.hidden-xs-up {
    display: none !important;
  }
  
  
  .hidden-xl-down {
    display: none !important;
  }
  
@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
